@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');


:root{

    --main_color: #ff740d;
    --main_color_bg: #1e1a1a;
    --main_color_bg_two: #373232;
    
    --link_color: rgba(255,255,255,0.8);
    --text_color: #fff;
    --title_bg_color: rgba(244, 244, 244,0.2);
}

*
{
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background: var(--main_color_bg_two); 
}

::-webkit-scrollbar-thumb {
    background: var(--main_color); 
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main_color_bg); 
}

html,body{
    display: grid;
    height: 100%;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(300deg, var(--main_color_bg), var(--main_color_bg_two));
}
.entrance{
    width: 100%;
    height: 100vh;
    background-image: url("assets/allwriters.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    border-bottom: 1px solid var(--main_color);
}
.entrance h1{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--main_color);
    text-align: center;
    margin-bottom: 1rem;
}
.entrance h1::before{
    content: var(--title);
    font-size: 4rem;
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;
    display: block;
    color:var(--title_bg_color);
}


.arrows{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}
.arrow{
    position: absolute;
    width: 20px;
    height:20px;
    border-right-style: solid;
    border-right-width: 2px;
    border-right-color: var(--main_color);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--main_color);
    animation-name: arrow;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}
.arrow::before{
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-right-style: solid;
    border-right-width: 2.5px;
    border-right-color: var(--main_color);
    border-bottom-style: solid;
    border-bottom-width: 2.5px;
    border-bottom-color: var(--main_color);
}
.arrow::after{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: var(--main_color);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--main_color);
}

@keyframes arrow{
    /*rotate3d*/
    0%{
        transform: translateX(0) rotate(45deg);
        opacity:0;
    }
    50%{
        transform: translateY(50px) rotate(45deg);
        opacity: 1;
    }
    100%{
        transform: translateX(0) rotate(45deg);
        opacity: 0;
    }
}

.torch{
    width: 100%;
    height: 100vh;
    background-image: url("assets/torchbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr;
    align-items: top;
    justify-items: center;
    border-top: 1px solid var(--main_color);
    border-bottom: 1px solid var(--main_color);
}
.torch h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    color: var(--main_color);
    text-align: center;
    margin-bottom: 1rem;
}
.torch h1::before{
    content: var(--title);
    font-size: 4rem;
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;
    display: block;
    color:var(--title_bg_color);
}

.torch .content{
    display: grid;
    grid-template-columns: 2fr;
    align-items: center;
    justify-items: center;
}
.torch .content span{
    color:var(--text_color);
    width: 80%;
}
.torch .content span a{
    color: var(--link_color);
    text-decoration: none;
}

.torch .content span p{
    color: var(--main_color);
    line-height: 1.5rem;
}

.torch .content span ol{
    margin-left: 30px;
}
  
/*writers nagivation*/
.wrapper{
    position: fixed;
    bottom: 5px;
    left: 10px;
    right:10px;
    width: 60px;
}
.wrapper .button{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin:15px 0;
    cursor: pointer;
    box-shadow:3px 3px 3px var(--color-shadow);
    transition: all 0.3s ease-out;
    overflow: hidden;
}

.wrapper .button:hover{
    width: var(--width-hover);
}
.wrapper .button a{
    text-decoration: none;
}
.wrapper .button img{
    float: left;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}
.wrapper .button span{
    float: left;
    font-size: 20px;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

.wrapper .button:nth-child(1){
    background-color: #110404;
}
.wrapper .button:nth-child(1) span{
    color: #cf4407;
}
.wrapper .button:nth-child(2){
    background-color: #a79b8b;
}
.wrapper .button:nth-child(2) span{
    color: #58504b;
}
.wrapper .button:nth-child(3){
    background-color: #161623;
}
.wrapper .button:nth-child(3) span{
    color:#b5b4c2;
}
.wrapper .button:nth-child(4){
    background-color: #d7d7d7;
}
.wrapper .button:nth-child(4) span{
    color: #232323;
}
.wrapper .button:nth-child(5){
    background-color: #bababa;
}
.wrapper .button:nth-child(5) span{
    color: #3b3b3b;
}
.wrapper .button:nth-child(6){
    background-color: #777276;
}
.wrapper .button:nth-child(6) span{
    color: #c6c5c6;
}
.wrapper .button:nth-child(7){
    background-color: #573923;
}
.wrapper .button:nth-child(7) span{
    color: #b18965;
}
.wrapper .button:nth-child(8){
    background-color: #90792e;
}
.wrapper .button:nth-child(8) span{
    color: #debd51;
}



.writers{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7fr;

}

.writer{
    display: grid;
    height: 100vh;
    border-top: 1px solid var(--main_color);
    border-bottom: 1px solid var(--main_color);
    grid-template-columns: var(--left) var(--right);
}
.writer .img{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.writer img{
    width: 200px;
    height: 200px;
    border:5px solid var(--main_color);
    border-radius: 50%;
    display: none;
}
.writer span{
    display: block;
    width: 90%;
    margin: 0 auto;

}
.writer span .name{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--main_color);
    text-align: center;
}
.writer span .descriptions{
    font-size: 0.7rem;
    color:var(--text_color);
    text-align: center;
}
.writer span .biography p{
    font-size: 0.9rem;
    color: var(--main_color);
    line-height: 1.5rem;
}
.writer span .biography{
    font-size: 0.8rem;
    color:var(--text_color);
    text-align: left;
    margin-top: 5%;
}
.writer span a{
    color: var(--link_color);
    text-decoration: none;
}
.writer span .works p{
    font-size: 0.9rem;
    color: var(--main_color);
    line-height: 1.5rem;
}
.writer span .works{
    font-size: 0.8rem;
    color:var(--text_color);
    text-align: left;
    margin-top: 10%;
}


/*exit*/

.exit{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns:1fr;
    align-items: center;
    justify-items: center;
    border-top: 1px solid var(--main_color);
}
.exit h1{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--main_color);
    text-align: center;
    margin-bottom: 1rem;
}
.exit h1::before{
    content: var(--title);
    font-size: 4rem;
    width: 100%;
    height: 1px;
    margin-bottom: 1rem;
    display: block;
    color:var(--title_bg_color);
}

.exit .about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    width: 80%;
}

.exit .about img{
    width:300px;
    height: 300px;
    border:5px solid var(--main_color);
    border-radius: 50%;
}
.exit .about p.subtitle{
    margin-left: 0;
    color:var(--main_color);
}
.exit .about p{
    margin-left: 10px;
    font-size:15px;
    color:var(--text_color);
}
.exit .about p a{
    color: var(--main_color);
    text-decoration: none;
    font-size:12px;
}

.sci{
    position: relative;
    margin-top: 40px;
}
.sci ul{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    transform: translate(-50%,-50%);
}
.sci ul li{
    list-style: none;
    margin: 0 15px;
    
}

.sci ul li i{
    font-size: 30px;
    background-color: var(--main_color);
    line-height: 50px;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color:var(--main_color_bg);
    transition: 1s;
}
.sci ul li i:hover{
    transform: translateY(20px);
    color:var(--text_color);
    background-color: var(--color);
}


.copyright{
    width: 100%;
    background-color: var(--main_color);
    color:var(--main_color_bg);
    text-align: center;
}
.copyright a{
    color: var(--main_color_bg_two);
    text-decoration: none;
}


@media (max-width: 1000px){
    .writer{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
    .writer .img{
        display: none;
    }
    .writer img{
        display: block;
    }
    .writer span .name{
        font-size: 1.4rem;
        font-weight: 400;
        color: var(--main_color);
        text-align: center;
    }
    .writer span .descriptions{
        font-size: 0.6rem;
        color:var(--text_color);
        text-align: center;
    }
    .writer span .biography p{
        font-size: 0.8rem;
        color: var(--main_color);
        line-height: 1.5rem;
    }
    .writer span .biography{
        font-size: 0.7rem;
        color:var(--text_color);
        text-align: left;
        margin-top: 5%;
    }
    .writer span .works p{
        font-size: 0.8rem;
        color: var(--main_color);
        line-height: 1.2rem;
    }
    .writer span .works{
        font-size: 0.7rem;
        color:var(--text_color);
        text-align: left;
        margin-top: 5%;
    }

    .wrapper{
        display: none;
    }

    .exit .about img{
        width: 200px;
        height: 200px;
    }
    .exit .about p{
        font-size: 10px;
    }
    .exit .about p a{
        font-size:10px;
    }
}

@media (max-width:550px){
    .writer img{
        width: 200px;
        height: 200px;
    }
    .writer span .biography p{
        font-size: 0.7rem;
    }
    .writer span .biography{
        font-size: 0.6rem;
    }
    .writer span .works p{
        font-size: 0.7rem;
    }
    .writer span .works{
        font-size: 0.6rem;
    }

    .sci ul li{
        margin:0 10px;
    }
    .sci ul li i{
        font-size: 25px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }
}